<%- include('navbar') %>

<div id="about">
    <p id="about-us">Munster Technological University is hosting one-to-one workshops for those interested in learning the world of HTML.<br> Just a beginner? We have coaches which start from scratch! we'll hold your hand through the basics</p>
</div>
