<%- include('navbar') %>
<div id="create">
    <h2 id="create_title">Create a Booking</h2>
    <p>Creating a booking will allow you to attend a workshop in the future to further your expertise in HTML.</p>
    <form action="/create" method="POST">
        <br><br>
        <label for="booking">Create a booking with one of our coaches at the next workshop!</label>
        <br><br>
        <label for="name">Name</label>
        <br><br>
        <input id="name_booking" name="userName" type="text" placeholder="John Doe" required>
        <br><br>
        <label id="no_booking" for="Phone Number">Phone Number</label>
        <br><br>
        <input type="text" name="userPhone" placeholder="+353" required>
        <br><br>
        <label for="email">Email</label>
        <br><br>
        <input type="text" name="userEmail" placeholder="email@example.ie" required>
        <br><br>
        <label for="bookingDate">Date of Booking</label>
        <br><br>
        <input type="date" name='userBookingDate' required min="<%= new Date().toISOString().split('T')[0] %>">
        <br><br>
        <label for="submit">Create booking!</label>
        <input id="create_submit" type="submit">
        <a href="viewbookings">View Bookings</a>
    </form> 
    <br>
    
</div>