<%- include('navbar') %>
<div id="help">
    <h2 id="help-title">Help</h2>
    <p>Welcome to the Help page. If you have any questions or need assistance, please don't hesitate to reach out to our support team.</p>
    <p>Contact us at HTMLMastery@mtu.ie</p>
    <h2>Need help in person?</h2>
    <br>
    <p>Our on-site support team are more than willing to help with IT issues you may have on the day of your booking.</p>
    <a href="/" id="bth-button">Back to Home</a>
</div>