<html lang="eng">
    <%- include('navbar') %>
    <head>
        <meta charset="utf-8">
    </head>
    <body>
        
        <div id="about">
            <h1>HTML Mastery</h1>
            <p id="about-us">Munster Technological University is hosting one-to-one workshops for those interested in learning the world of HTML.<br> Just a beginner? We have coaches which start from scratch! we'll hold your hand through the basics</p>
        </div>
        <p>  
            Join us for an immersive HTML workshop that will empower you to unleash your creativity and shape the digital landscape through the art of web development. Whether you're a beginner or an experienced coder, this workshop offers a unique opportunity to dive deep into the world of HTML, the fundamental language of the web.

            In this hands-on workshop, you'll learn how to create stunning web pages, structure content with semantic HTML, and bring your ideas to life with interactive elements. Our expert instructors will guide you through the intricacies of HTML, helping you gain the skills to build responsive, accessible, and visually captivating web experiences.
        </p>
        
    </body>
</html>