<div id="navigation-bar">
    <header>
        <link rel="stylesheet" href="stylesheets/style.css">
        <nav>
            <img id="logo" src="images/htmlmast.png" width="64" height="64">
            <a id="home_button" href="/">Home</a>
            <a id="about_button" href="about">About</a>
            <a id="create_button" href="create">Create</a>
            <a id="modify_button" href="viewbookings">Modify</a>
            <a id="delete_button" href="viewbookings">Delete</a>
            <a id="report_button" href="viewbookings">Report</a>
            <a id="report_sw_button" href="viewbookings">SW</a>
            <a id="help_button" href="help">Help</a>
        </nav>
    </header>
</div>